body {
    display: flex;
    justify-content: center;
}

#calculator {
    width: 400px;
    height: 500px;
    background-color: #E8E8E8;
    border: 2px solid black;
    padding: 5px;
    justify-content: center;
    
    display: grid;
    grid-template-areas:
        "s s s s"
        "sev eig nin bag"
        "fou fiv six kal"
        "one two thr kur"
        "sam zer del tam"
    ;
    grid-template-columns: 90px 90px 90px 90px;
    gap: 5px;
}

#screen {
    grid-area: s;
    background-color: white;
    border: 1px solid black;
}

button {
    background-color: white;
}

#calculator > button[data-text="0"] {
    grid-area: zer;
}

#calculator > button[data-text="1"] {
    grid-area: one;
}

#calculator > button[data-text="2"] {
    grid-area: two;
}

#calculator > button[data-text="3"] {
    grid-area: thr;
}

#calculator > button[data-text="4"] {
    grid-area: fou;
}

#calculator > button[data-text="5"] {
    grid-area: fiv;
}

#calculator > button[data-text="6"] {
    grid-area: six;
}

#calculator > button[data-text="7"] {
    grid-area: sev;
}

#calculator > button[data-text="8"] {
    grid-area: eig;
}

#calculator > button[data-text="9"] {
    grid-area: nin;
}

#calculator > button[data-text="+"] {
    grid-area: tam;
}

#calculator > button[data-text="-"] {
    grid-area: kur;
}

#calculator > button[data-text="*"] {
    grid-area: kal;
}

#calculator > button[data-text="/"] {
    grid-area: bag;
}

#calculator > button[data-text="="] {
    grid-area: sam;
}

#calculator > button[data-text="del"] {
    grid-area: del;
}